__pycache__/
*.pyc

.idea/
.venv/
venv/
.env
.ipynb_checkpoints/

# Ignore raw API snapshots
data/raw/*
!data/raw/.gitkeep

# Ignore processed files except the main demo output
data/processed/*
!data/processed/.gitkeep
!data/processed/filtered_jobs.csv